<div class="text">
    <p class="p">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, provident laborum fuga, saepe, numquam
        perferendis eum laudantium est corporis consequuntur dolores labore at necessitatibus exercitationem non iusto
        nesciunt. Vel, aspernatur?
    </p>
</div>
<div class="dashboard">
    <div class="content-1">
        <img src="https://picsum.photos/200/300" alt="test">
    </div>
    <div class="content-2">
        <img src="https://picsum.photos/200/300" alt="test">
    </div>
    <div class="content-3">
        <img src="https://picsum.photos/200/300" alt="test">
    </div>
</div>